# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Credentials
.env
.env.*
.env*.local
*.env
*.env.*
.env.example
*.example
*.pem
*.key
*.cert
*.crt
*.pfx
*.p12
credentials.json
client_secret*.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

